@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-links{
  @apply rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white;
}
.navbar-link-active{
  @apply bg-gray-900;
}

.site-content{
  @apply container grid md:grid-cols-3 sm:grid-rows-1 gap-4 min-h-screen pt-20 mx-auto md:pl-10 pr-10;
}

.header-1{
  @apply text-5xl;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-2{
  @apply text-3xl;
  margin-bottom: 40px;
  margin-top: 80px;
}

.card{
  @apply border-black bg-gray-100 rounded-lg shadow-sm text-center text-sm md:max-w-xs pb-2;
}

p{
  @apply px-5 md:px-0 mb-2;
}

a{
  color: blue;
  @apply pl-1 pr-1;
}

.orcid-id-btn{
  @apply bg-[#A5CD39] text-white rounded-xl text-base p-1;
}
