@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F8F8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply overflow-x-hidden;
}

.navbar-links{
  @apply rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white;
}
.navbar-link-active{
  @apply bg-gray-900;
}

.site-content{
  @apply container grid md:grid-cols-3 sm:grid-rows-1 gap-4 min-h-screen pt-20 mx-auto md:pl-10 md:pr-10 pb-20;
}

.header-1{
  @apply text-5xl;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-2{
  @apply text-3xl;
  margin-bottom: 40px;
  margin-top: 80px;
}

.header-3{
  @apply text-xl;
  margin-bottom: 40px;
  margin-top: 80px;
}

.header-4{
  @apply text-lg font-bold;
}

.card{
  @apply border-black bg-white rounded-lg shadow-sm text-center text-sm md:max-w-xs pb-2;
}

p{
  @apply md:px-0 mb-2 sm:text-sm;
}

a{
  color: blue;
  @apply pl-1 pr-1 sm:text-sm;
}

.orcid-id-btn{
  @apply bg-[#A5CD39] text-white rounded-xl text-base p-1;
}

.badge{
  @apply text-black text-xs font-medium me-2 px-2.5 py-0.5 rounded-full whitespace-nowrap;
}

.status-badge{
  @apply badge bg-yellow-300;
}

.name-badge{
  @apply badge bg-blue-950 !text-white;
}

.form{
  @apply bg-[#FFFFFF] p-10;
}

.form-input-group{
  @apply mx-auto mb-5 w-4/5;
}

input{
  @apply bg-gray-50 w-full p-2 rounded-lg border border-gray-300 text-sm focus:ring-0 focus:outline-none focus:border-[#445669] focus:border-2;
}

textarea{
  @apply bg-gray-50 w-full p-2 rounded-lg border border-gray-300 text-sm focus:ring-0 focus:outline-none focus:border-[#445669] focus:border-2;
}
